<div class="p-6  bg-gray-700 rounded-xl shadow-lg flex flex-row items-center justify-center gap-6 text-xl font-mono">
    <p class=" text-slate-300">Copyright ©
        <%= new Date().getFullYear() %>
    </p>
    <p class="text-white">KSCB.IO</p>
</div>