<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <p>
            Wystąpił błąd, proszę powrócić na <a href="/" class="text-indigo-300 hover:text-indigo-400 font-semibold">stronę główną</a> i spróbować ponownie.
        </p>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>